@import url(http://fonts.googleapis.com/css?family=Roboto:400,900);
/** {
            border: 1px solid blue;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
}*/

* {
    margin: 0;
}

html, body {
	background-color: #efdd6f;
	height=100%;
}

.navbar{
background-image:url("images/bottles1_shelf.jpg");
background-repeat:repeat-x;
}

#logo2{
	display:none;
}

.logodiv:hover #logo2{
display: block;
}

.logodiv:hover #logo{
	display: none;
}

.nav_text{
	padding-top: 105px;
	color: black; /* #fbea74;*/
	font-family: 'Roboto:400,900';
    font-size: 26px;
}

.nav_text:hover{
	color: #b6212d;
	text-shadow: 1px 1px black;
	font-size: 28px;
}

.imageStyle1{
	border-radius: 20%;
	border-color: #b6212d;
	border-width: 6px;
	border-style: solid;
	margin: 5px;
}
.imageStyle2{
	border-radius: 5%;
	border-color: brown;
	border-width: 6px;
	border-style: solid;
	margin: 5px;

}
#bigMap{
	border-color: #b6212d;
	border-width: 6px;
	border-style: solid;
	margin: 5px;
}

#centerP p{
	text-align: center;
}

#footer{
	text-align: center;
}

#facebook{
	padding-right: 5px;
}

.contactBar{
	margin-top: 15px;
	padding-bottom: 15px;
	text-align: center;
	font-size: 16px;
}
.picnic{
	text-align: center;
}
#about{
margin-top: 15px;
}
#menus{
	text-align: center;
}
#soup{
	text-align: center;
	margin-top: 15px;
}